@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  background-color: #800000;
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html h2, body h2 {
  font-size: 20px;
}
html .all, body .all {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 2px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html .all .left, body .all .left {
  width: 35%;
  background-image: url(http://media.istockphoto.com/photos/dark-espresso-cake-with-chocolate-glaze-picture-id484375601?k=6&m=484375601&s=612x612&w=0&h=ADxGwOdz1sHwdEj1L8W4dI4L2RXbpWyJSATR2Fx0qj4=);
  background-size: cover;
}
html .all .right, body .all .right {
  padding: 20px;
  width: 65%;
}
html .all .right ul, body .all .right ul {
  padding: 0px;
}
html .all .right ul li, body .all .right ul li {
  padding: 5px;
  color: brown;
  display: inline-block;
  width: 30%;
}
html .all .right ul li p, body .all .right ul li p {
  color: #222;
}
