
.all
  .left
  .right
    h1 巧克力
    hr
    p 巧克力（英語：Chocolate，粵港澳稱為朱古力）原產自中美洲，巧克力來自「xocolatl」，是納瓦特爾語單詞意為「苦水」，是以可可做為主料的混合型食品。主要原料可可豆 Cacao，產於赤道南北緯線18度以內狹長地帶。
    h2 歷史
    p 最早拿來飲用的是馬雅人，而最初是由墨西哥人製作，16世紀初期的西班牙探險家哥倫布在墨西哥發現當地的阿茲特克國王飲用一種可可豆加水和香料製成的飲料，科爾特斯品嘗後在1528年帶回西班牙，並在西非一個小島上種植了可可樹。西班牙人將可可豆磨成了粉，從中加入了水和糖，在加熱後被製成的飲料稱為「巧克力」，深受大眾的歡迎。不久其製作方法被義大利人學會，並且很快傳遍整個歐洲。
    h2 健康功效
    ul
      li 抗氧化
        p 可可比起其他含有多酚抗氧化劑的食物和飲料還擁有更強的抗氧化作用。
      li 抗憂鬱
        p 巧克力所含的可可鹼，的確能使人情緒興奮，有抗抑鬱效果。
      li 降低血壓
        p 美國心臟學會最新研究，黑巧克力能降低心臟病的危險。 